/*фото в слайдах*/
.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*кастомные стрелки влево, вправо*/
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}
/* адаптив */
@media only screen and (min-width: 0px) {
  .adaptive-serts{
    font-size: 1.5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .adaptive-prem{
    font-size: 1.6rem;
  }
  .adaptive-slides {
    height: 25rem;
  }
  .adaptive-slides-2 {
    height: 25rem;
  }
  .adaptive-slides-3 {
    height: 15rem;
  }
  .adaptive-bg-7{
    background: url('../media/bg-7-sm.png') 100% 100% no-repeat;
    background-size:100% 100%;
    background-position:center;
  }
  .adaptive-bg-6{
    background-image:url('../media/bg-6-sm.png'); 
    background-size:100% 100%;
    background-position:center; 
    background-repeat: no-repeat;
  }
  .adaptive-bg-5{
    background-image:url('../media/bg-sm-5.png'); 
    background-size:cover;
    background-position:center; 
    background-repeat: no-repeat;
  }
  .adaptive-bg-3{
    background-size:cover;
    background-image: url('../media/bg3-sm.png');
  }
  .adaptive-name{
    font-size: 1.4rem;
  }
  .adaptive-bg{
    background-size:cover;
    background-image: url('../media/bg-sm.png');
  }
}
@media only screen and (min-width: 768px) {
  .adaptive-serts{
    font-size: 2.6rem;
    -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  }
  .adaptive-bg-7{
    background-image:url('../media/bg-7.png');
  }
  .adaptive-bg-6{
    background-image:url('../media/bg-6.png');
  }
  .adaptive-bg-5{
    background-image:url('../media/bg5.png');
  }
  .adaptive-prem{
    font-size: 3.2rem;
  }
  .adaptive-slides {
    height: 25rem;
  }
  .adaptive-slides-2 {
    height: 35rem;
  }
  .adaptive-slides-3 {
    height: 15rem;
  }
  .adaptive-logo{
    height: 7.5rem;
  }
  .adaptive-name{
    font-size: 1.6rem;
  }
  .adaptive-bg{
    background-image: url('../media/bg-md.png');
    background-size:cover;
  }
}
@media only screen and (min-width: 1025px) {
  .adaptive-slides {
    height: 35rem;
  }
  .adaptive-slides-2 {
    height: 45rem;
  }
  .adaptive-slides-3 {
    height: 25rem;
  }
  .adaptive-bg-3{
    background-size:cover;
    background-image: url('../media/bg3.png');
  }
  .adaptive-name{
    font-size: 2.20rem;
  }
  .adaptive-bg{
    background-size:cover;
    background-image: url('../media/bg.png');
  }
  .adaptive-bg-3 p{
    font-size: 1.4rem;
  }
}